/* Контейнер коротких вакансий */
.vacancy_short {
	font-size:18px;
	border-radius: 10px;
	/*border: 0px solid black;*/
	width: 60%;
	margin: 1%; 
	padding: 0.5%; 
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.48);
	text-align: justify;
	background-color: white;
}
/* Заголовок */
.header {
	font-size:18px;
	border-radius: 10px;
	/*border: 0px solid black;*/
	width: 60%;
	margin: 1%; 
	padding: 0.5%; 
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.48);
	text-align: center;
	background-color: white;
}

/* Контейнер коротких вакансий */
.descr {
	font-size:18px;
	border-radius: 10px;
	/*border: 0px solid black;*/
	width: 98%;
	padding: 1%; 
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	box-shadow: 0 3px 16px 2px rgba(0, 0, 0, 0.48);
	text-align: justify;
	background-color: #c2d6eb;

}

td{
    text-align: center;
}
/* Настройки страницы */
body { 
	margin-right: 10%;
	margin-left: 10%;
	background-color: gray;
	font-family: 'Istok Web', sans-serif;
}

/* Кнопка подробности */
.button {
	position: relative;
   	background-color: #555555;
	border-radius: 2px;
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 1%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #032c58;
}

.button1:hover {
    background-color: #032c58;
    color: white;
}